<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body style = "background-image: url('/static/sky.jpg');">
    <p><font size = "10" color = "6666CC" face = "Copperplate"> Assignments </font></p>
    <hr>
    <ul>
    <li><p><font size = "6" color = "6666CC" face = "Copperplate"> Assignment 1: </font></p>
    <p><font size = "5" color = "CC6699" face = "Copperplate"> In this assignment, we first learned about binary and various algorithms, as well as how to write pseudocode. Then we actually coded for a relatively simple interactive program and various list operations. </font></p>
    </li>
    <li><p><font size = "6" color = "6666CC" face = "Copperplate"> Assignment 2: </font></p>
    <p><font size = "5" color = "CC6699" face = "Copperplate"> In this assignment, we first learned about different sorting and searching methods as well as time complexity and big O notation. Then we applied this knowledge by coding for a simulation of a projectile undergoing a changing force due to gravity. We also started a Machine Learning project that would ultimately be able to determine if cancerous tumors were benign or malignant </font></p>
    </li>
    <li><p><font size = "6" color = "6666CC" face = "Copperplate"> Assignment 3: </font></p>
    <p><font size = "5" color = "CC6699" face = "Copperplate"> In this assignment, we started by writing pseudocode for various set syle operations on top of lists, as well as learning how to implement functions recursively. We then moved on to code for a Percolation module that utilized numpy arrays. We also continued to work on our Machine Learning project by implementing functions to read and modify the input dataset.</font></p>
    </li>
    <li><p><font size = "6" color = "6666CC" face = "Copperplate"> Midterm Assignment: </font></p>
    <p><font size = "5" color = "CC6699" face = "Copperplate"> In this assignment, we learned how to take data from a PPM file and use it to modify images by making them black and white, flipping them horizontally, or removing unwanted objects from the image. </font></p>
    </li>
    <li><p><font size = "6" color = "6666CC" face = "Copperplate"> Assignment 4: </font></p>
    <p><font size = "5" color = "CC6699" face = "Copperplate"> In this assignment, we implemented object oriented programming by creating an interactive simulation that modeled a classroom consisting of a teacher, students, and assignments. Based on the user's inputs, our program calculated the students grade, payed the teacher, and assigned grades, keeping track of and plotting the data. </font></p>
    </li>
    <li><p><font size = "6" color = "6666CC" face = "Copperplate"> Assignment 5: </font></p>
    <p><font size = "5" color = "CC6699" face = "Copperplate"> In this assignment, we completed our Machine Learning project by implementing the K nearest neighbors algorithm and using existing data about tumor cells to predict whether other data points representing tumors were malignant or benign.We plotted the data and made a heatmap using seaborn, and determined the accuracy of our program. </font></p>
    </li>
    <li><p><font size = "6" color = "6666CC" face = "Copperplate"> Final Assignment: </font></p>
    <p><font size = "5" color = "CC6699" face = "Copperplate"> In this assignment, we created a basic personal webpage using Flask and HTML, working on the assignment through a Git Repository. </font></p>
    </li>
    </ul>
    <p><img src = "/static/pinkheart.jpg" alt = "<3" style = "width: 300px;">
    <hr>
    <p><font size = "7" color = "6666CC" face = "Copperplate"> My Favorite Assignment: </font></p>
    <p><font size = "5" color = "CC6699" face = "Copperplate"> My favorite assignment this semester was Assignment 5, in which we used the K nearest neighbor algorithm to determine if tumors were malignant or benign by analyzing an existing dataset. Since I'm majoring in biomedical engineering, this interested me immensely because it allowed me to see just how computrer science could play into my future career and how CS can be applied to real world problems in order to potentially save lives. :) </font></p>
    </body>
</html>