<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body style = "background-image: url('/static/sky.jpg');">
    <p><font size = "12" color = "CC6699" face = "Copperplate"> My Semester Classes </font></p>
    <font size = "5" color = "6666CC" face = "Copperplate">
    <ul>  
    <li> ENGIE1006: Introduction to Computing/ Python </li>
    <li> CC1010: University Writing </li>
    <li> CHEMUN1404: General Chemistry II </li>
    <li> PHYSUN1602: Physics II: Thermo, Elec, & Mag </li>
    <li> ECONUN1105: Principles of Economics </li>
    </ul>
    </font>
    </body>
</html>