<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body style = "background-image: url('/static/sky.jpg');">
    <p><font size = "12" color = "CC6699" face = "Copperplate"> My Semester Classes </font></p>
    <font size = "5" color = "6666CC" face = "Copperplate">
    <ul>  
    <li> ENGIE1006: Introduction to Computing/ Python </li>
    <li> CC1010: University Writing </li>
    <li> CHEMUN1404: General Chemistry II </li>
    <li> PHYSUN1602: Physics II: Thermo, Elec, & Mag </li>
    <li> ECONUN1105: Principles of Economics </li>
    </ul>
    </font>
    <p><img src = "/static/pinkheart.jpg" alt = "<3" style = "width: 400px;">
    <hr>
    <p><font size = "7" color = "CC6699" face = "Copperplate"> My Favorite Class: </font></p>
    <p><font size = "5" color = "6666CC" face = "Copperplate"> My favorite class this semester has been python (and I'm not just saying that to get a good grade on this website assignment). I like python becuase after learning about the language in class, we get to actually apply that knowledge through assignments in a semi-personalized way (like this website). As a BME major, the assignment we did where we determined whether tumors were malignant or benign using existing data was particularly interesing to me. I enjoyed being able to tak what we learned, and see how it actually applied in the real world. </font></p>
    </body>
</html>